<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FLHS_App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>059AB42C1E22CEE3008CE585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>059AB4431E22CEE3008CE585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>059AB44E1E22CEE3008CE585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
